@page {
  size: A4;
  margin: 1cm;
}
@media screen and (min-width: ) {
 section,head {
 /* custom styles */
    
    max-width: 70%;
     
 }
}

header {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  background-color: #084c8b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
#cap {
  display: flex;

  align-items: center;
  margin-left: 12px b;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
img {
  background-color: transparent;

  width: 20px;
  height: 18px;
}
h3 a {
  text-decoration: none;
  color: inherit;
}
button {
  height: 20vh;
  width: 100%;
}
