h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #084c8b;

}

h3{
    
    font-family: Arial, Helvetica, sans-serif;
    color: #084c8b;
}
img{
    

}